<nav>
    <div class="nav-wrapper purple">
<div class="container">
        <a href="#!" class="brand-logo"></i>Admin Panel</a>
        <ul class="right hide-on-med-and-down">
          <!-- <li><a><i class="material-icons">search</i></a></li> -->
          <li><a href="https://console.firebase.google.com/project/gideana-project/database/firestore/data~2Fbread" class="btn add"><i class="material-icons">add</i></a></li>
          <!-- <li><a><i class="material-icons">shopping_cart</i></a></li>
          <li><a><i class="material-icons">show_chart</i></a></li> -->
        </ul>
</div>
    </div>
  </nav>