<div class="col s12 m3">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-purple">
            <img class="activator" src="images/bread_img_11.jpeg">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Bagel<i
                    class="material-icons right">more_vert</i></span>
            <p><a href="#" class="btn btn-small purple">Ghc 20</a></p>
        </div>
        <div class="card-reveal purple white-text">
            <span class="card-title">Bagel<i class="material-icons right">close</i></span>
            <p>California-style pizza (also known as California pizza or Gourmet pizza) is a style of
                single-serving pizza that combines New York and Italian thin crust with toppings from the
                California cuisine cooking style. Its invention is generally attributed to chef Ed LaDou,
                and Chez Panisse, in Berkeley, California. Wolfgang Puck, after meeting LaDou, popularized
                the style of pizza in the rest of the country.</p>
        </div>
    </div>
</div>