<button id="commentBtn"><i class="material-icons">comment</i></button>
    
<form class="hide" id="commentForm">
    <h1>Leave a Review</h1>
    <div class="animated" id="thank-you">
        Please make a comment about our service and we will get back to you soon
    </div>
    <textarea name="review" id="review" type="text" placeholder="Please type in your review here..." required></textarea>
    <input type="text" name="name" placeholder="name" required>
    <input type="email" name="email" placeholder="email" required>
    <button type="submit"><i class="material-icons">send</i></button>
</form>