<nav class="nav purple">
    <a href="/index" class="brand-logo center logo">Gido</a>
   
  <ul>
    <li><a href="/"><i class="material-icons left">home</i></a></li>
    <li> <a href="/menu"><i class="material-icons left">local_pizza</i></a></li>
    <li><a href="/events"><i class="material-icons left">events</i></a></li>
    <li><a href="/about"><i class="material-icons left">help</i></a></li>    
  </ul>

  <ul class="right">
      <li><a href="" class="btn btn-floating" ><i class=" modal-trigger material-icons right" href="#items-menu">shopping_cart</i></a></li>
      <span class="new badge green" data-badge-caption=""><%=basket.length %></span>
  </ul>

  
  
</nav>