<!-- Modal Structure -->
<div id="items-menu" class="modal bottom-sheet">
  <div class="modal-content">
    <ul class="basket-list">
        <% cardData[0].basket.forEach(function(item){ %>
          <li>
              <img src=<%=item.imgURL %> alt="">
              <div>
                <h3 class="title"> <%=item.name%> </h3>
                <p class="info"><%=item.info%></p>
                <p class="price">
                    <strong> <%=item.price%> </strong> 
                </p>
              </div>
            </li>
        <% }) %> 
           
    </ul>
  </div>
  <div class="modal-footer">
    <a href="/order" class="modal-close waves-effect waves-green btn-flat">Checkout</a>
  </div>
</div>