  <!-- Modal Structure -->
 <div id="items-menu" class="modal bottom-sheet">
   <div class="modal-content">
     
   </div>
   <div class="modal-footer">
     <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
   </div>
 </div>