<ul id="basket-items" class="col s4 pull-s1  collection">
    <% basket.forEach(function(item){ %>
        <li class="collection-item avatar">
            <img src=<%=item.imgURL %> alt="" class="circle">               
            <span class="title"> <%=item.name%> </span>
            <p class="info"><%=item.info%></p>
            <p class="price">
                <strong> <%=item.price%> </strong> 
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons black-text">cancel</i></a>
        </li>
        <% }) %> 
        
    </ul>


            <!-- <li class="collection-item avatar">
                <img src="images/bread_img_6.jpeg" alt="" class="circle">
                <span class="title">Title</span>
                <p>First Line <br>
                    Second Line
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons black-text">cancel</i></a>
            </li> -->