<ul class="links">
        <!-- <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
           <span> Dashboard </span>
           <i class="material-icons right">dashboard</i>
           </a></li> -->

       <!-- <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
          <span> Inventory </span>
          <i class="material-icons right">store</i>
          </a></li> -->

       <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
           <span>Orders</span>
           <i class="material-icons right">shopping_cart</i>
          </a>
          </li>

       <!-- <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
           <span>Featured</span>
           <i class="material-icons right">featured_play_list</i>
          </a>
          </li> -->

       <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
           <span>Settings</span>
           <i class="material-icons right">settings</i>
          </a></li>
        
    </ul>