<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <% include partials/importHeader.ejs %>
</head>

<body class="admin row">
    <div class="side-navigation col l2 blue">
        <nav>
            <div class="nav-wrapper purple">
                   <div class="container">
                        <a href="" class="brand-logo">Admin</a>
                   </div>
            </div>
          </nav>
          
          <ul class="links">
              <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
                 <span> Dashboard </span>
                 <i class="material-icons right">dashboard</i>
                 </a></li>

             <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
                <span> Inventory </span>
                <i class="material-icons right">store</i>
                </a></li>

             <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
                 <span>Orders</span>
                 <i class="material-icons right">shopping_cart</i>
                </a>
                </li>

             <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
                 <span>Featured</span>
                 <i class="material-icons right">featured_play_list</i>
                </a>
                </li>

             <li><a href="" class=" btn-large left white-text waves-effect waves-dark">
                 <span>Settings</span>
                 <i class="material-icons right">settings</i>
                </a></li>
              
          </ul>
    </div>

    <div class="main-area col l10">
        <% include partials/admin-nav.ejs %>
    </div>



    <script src= "scripts/index.js"></script>
</body>

</html>