<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin Dashboard</title>
  <% include partials/importHeader.ejs %>

</head>

<body class="admin ">
  <% include partials/admin-nav.ejs %>

  <div class="row">

    <div class="col s3 side-navigation red">
      <!-- Grey navigation panel -->
      <% include partials/side-nav-options.ejs %>
    </div>

    <div class="col s9 main-area area ">
      <div class="orders">
        <h2>Orders</h2>
        <ul class="collapsible" data-collapsible="accordion">
          
        </ul>
      </div>
    </div>

  </div>

</body>
<script src="scripts/admin.js"></script>

</html>