<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <% include partials/importHeader.ejs %>
    <title>Gido Pastry House | Cakes</title>
</head>

<body>
        <div class="page">
            <div class="menu-header">
              <% include partials/nav.ejs %>
                <div class="container">
                    <dass="landing white-text right">
                        <h1>Menu</h1>
                        <p>Check out what's on the menu.</p>
                    </div>
                </div>
        </div>
        </div>

        <br><br><br><br><br><br>
        <ul class="collection container s3 l6">
          <h4>Menu</h4>
          <hr>
          <li class="collection-item"><a href="/bread">Bread</a></li>
          <li class="collection-item"><a href="/pizza">Pizza</a></li>
          <li class="collection-item"><a href="/cakes">Cakes</a></li>
          <li class="collection-item"><a href="/croissant">Croissant</a></li>
      

</body>