/* Custom stylesheet for index page */
/* author - Gideona Emefa */
/* Case Study - Gido Catering Services */
/* version - 1.0 */
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");
body.sign {
  background: url("../../images/croissants/flaky-butter.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* styling the nav logo */
  /* styling the form */
  /* STYLING ADMIN */ }
  body nav .badge {
    position: relative;
    top: 20px;
    right: 30px; }
  body .materialize { }
  body .header {
    background: url("../img/cake_img-4.jpeg") no-repeat center;
    height: 500px; }
    body .header .landing {
      margin-top: 0px; }
  body .croissant-header {
    background: url("../img/croissant_img_2.jpeg") no-repeat center;
    height: 700px; }
  body .pizza-header {
    background: url("../img/pizza_img_3.jpeg") no-repeat center;
    height: 700px; }
  body .bread-header {
    background: url("../img/bread_img_10.jpeg") no-repeat center;
    height: 700px; }
  body .cake-header {
    background: url("../img/cake_img-5.jpeg") no-repeat center;
    height: 700px; }
  body .order-header {
    background: url("../img/pizza-box-chalkboard.jpg") no-repeat center;
    height: 200px; }
  body .menu-header {
    background: url("../img/pizza_img_5.jpeg") no-repeat center;
    height: 700px; }
  body .logo {
    font-family: Corbel, Arial, Helvetica, sans-serif; }
  body .landing {
    margin-top: 100px;
    font-size: 1.2em;
    font-weight: bold; }
  body .order-page #basket-items {
    margin-top: 120px !important;
    overflow: scroll;
    max-height: 600px; }
  body .form-wrapper form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 400px;
    margin-top: 200px;
    padding: 20px !important;
    border-radius: 20px; }
    body .form-wrapper form img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      position: relative;
      margin: 0 auto;
      bottom: 70px;
      left: 40%; }
  body .admin {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important; }
    body .admin div.row {
      margin-bottom: 0px !important; }
  body .side-navigation {
    padding: 0 !important;
    margin: 0;
    height: 100vh !important; }
    body .side-navigation ul li {
      list-style-type: none;
      font-size: 24px;
      margin: 0 10px; }
      body .side-navigation ul li .btn-large {
        width: 95%; }
  body .main-area {
    padding: 0 !important; }

body.row {
  margin-bottom: 0px; }

.cakes .card-image, .bread .card-image, .croissants .card-image, .pizza .card-image {
  height: 300px;
  /* Your height here */
  overflow: hidden; }

.basket-list li {
  border-bottom: solid purple 10px; }

.basket-list div {
  display: inline-block;
  padding-left: 40px; }

.basket-list img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 0 auto;
  display: inline-block; }

.hide {
  display: none; }

.show {
  display: block; }

#commentBtn {
  background: #2f77ec;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  color: white;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #commentBtn:hover {
    width: 55px;
    height: 55px;
    border-radius: 27.5px; }

form#commentForm {
  background: purple;
  width: 350px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px 20px 0px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 15px;
  position: fixed;
  right: 70px;
  bottom: 80px; }
  form#commentForm div#thank-you {
    display: block;
    background: greenyellow;
    height: 75px;
    width: 90%;
    margin: 10 auto;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    color: purple; }
  form#commentForm h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 20px auto;
    margin-top: 0px; }
  form#commentForm input {
    display: block;
    border: none;
    width: 90%;
    margin: 20px auto;
    min-height: 30px;
    border-radius: 15px;
    padding-left: 20px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white; }
  form#commentForm button {
    position: relative;
    left: 80%;
    border: none;
    outline: none;
    color: white;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: greenyellow;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    form#commentForm button:hover {
      width: 55px;
      height: 55px;
      border-radius: 27.5px;
      position: relative; }
  form#commentForm #review {
    height: 70px;
    border-radius: 15px;
    resize: none;
    outline: none;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white; }
    form#commentForm #review::-webkit-scrollbar {
      display: none; }

#redirect {
  position: fixed;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
